<p><%= t(:Request_to_reset_password_received_for) %> <%= @user.email %></p>
<p>  
 <%= t(:Visit_this_url_to_choose_a_new_password) %>:
  
   <%= @url %>
</p>   
(<%= t(:Your_password_will_remain_the_same_if_no_action_is_taken) %>)