<h1><%= t(:Sign_up_as_a_new_user) %></h1>
<div class="signupForm">
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>

<div class="formFeild"><%= label_tag 'firstname' %><%= f.text_field :firstname %></div>

<div class="formFeild"><%= label_tag 'lastname' %><%= f.text_field :lastname %></div>

<div class="formFeild"><%= label_tag 'email' %><%= f.text_field :email %></div>

<div class="formFeild"><%= label_tag 'password' %><%= f.password_field :password %></div>

<div class="formFeild"><%= label_tag 'password_confirmation', t(:Confirm_Password) %><%= f.password_field :password_confirmation %></div>

<div class="formFeild"><%= label_tag 'address', t(:Address_optional) %><%= f.text_field :address %></div>

<div class="formFeild"><%= label_tag 'zipcode', t(:Postal_code), :class => 'required' %><%= f.text_field :zipcode %></div>
<p class="requiredFeild">(<img alt="" src="/images/required.png"/>required fields)</p>

<%= f.hidden_field :role_id %>

<div class="formFeild"><label>&nbsp;</label><div class="button"><span>&nbsp;</span><%= submit_tag t(:Sign_up), :class=>'submit' %></div></div>
<% end -%>
</div>