<% if @vehicles.blank? %>
<div class = "admin_links">
  <p>
    <%= t(:no_vehicle_yet) %>
  </p>
  <p>
    <%= t(:try_creating_one_now) %> <%=link_to t(:clicking_here), new_admin_vehicle_path %>
  </p>
</div>
<% else %>
<div class="active-scaffold active-scaffold-as_admin__representative admin/representative-view default-theme" id="as_admin__representative-active-scaffold">
  <div class="active-scaffold-header">
    <div class="actions">
      <%= link_to t(:create_new), new_admin_vehicle_path, :class => 'new action' %>
			<%= link_to t(:Search), '#', :class => "show_search action", :onclick => "$('search_vehicle_by_vin').style.display = 'block';" %>
    </div>
    <h2>
      <%= t(:Vehicles) %>
    </h2>
  </div>
  <table cellspacing="0" cellpadding="0">
    <tbody id="as_admin__representative-search-container" class="before-header">
      <tr>
        <td/>
			  <!-- <div onclick = "$('search_vehicle_by_vin').style.display = 'block';">
		      <%#= t(:Search) %>
		    </div> -->
      </tr>
    </tbody>
  </table>

	<div class="show_search-view admin/make-view view" id="search_vehicle_by_vin" style="display:none;">
		<a title="Close" class="inline-adapter-close" href="">Close</a>
		<% form_tag search_admin_vehicles_path, :method => :post do %>
			<%= text_field_tag "search_vin", nil, :size => 50 %>
			<%= submit_tag t(:Search) %>
			<a onclick="f = this.up('form'); f.reset();" class="cancel" href="javascript:void(0)"><%= t(:Reset) %></a>
		<% end %>
	</div>

  <div id="as_admin__representative-content">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th title="">
            <a>
              <%= t(:Vehicle_photo) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= t(:VIN_Number) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= t(:Vehicle_make) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= t(:Vehicle_model) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= t(:Trim) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= t(:Category) %>
            </a>
          </th>
          <th title="">
            <a>
              <%= link_to t(:Dealership), admin_vehicles_path(:sort_by => 'dealership') %>
            </a>
          </th>
           <th title="">
            <a>
              <%= link_to t(:Status), admin_vehicles_path(:sort_by => 'status') %>
            </a>
          </th>
          <th class="actions">
          </th>
        </tr>
      </thead>
      <tbody id="as_admin__representative-tbody" class="records">
        <% for vehicle in @vehicles %>
        <tr id="as_admin__representative-list-3-row" class="record">
          <td class="name-column sorted">
            <%= image_tag(vehicle.vehicle_thumb_image, :alt => :Photo, :height=>"45", :width=>"60") -%>
          </td>
          <td>
            <%= vehicle.vin %>
          </td>
          <td>
            <%= vehicle.vehicle_make.name %>
          </td>
          <td>
            <%= vehicle.vehicle_model.name %>
          </td>
          <td>
            <%= vehicle.trim %>
          </td>
          <td>
            <%= vehicle.category.name %>
          </td>
          <td>
            <%= vehicle.dealer.dealership_name %>
          </td>
          <td>
            <%= vehicle.status %>
          </td>
          <td class="actions">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="indicator-container">
                    <img style="visibility: hidden;" src="/images/active_scaffold/default/indicator.gif?1250079352" id="as_admin__representative-record-3-loading-indicator" class="loading-indicator" alt="loading indicator"/>
                  </td>
                  <td>
                    <%= link_to t(:Edit), edit_admin_vehicle_path(vehicle) if current_user.has_permission?('modify_vehicle') %>
                  </td>
                  <td>
                    <%= link_to t(:Show), admin_vehicle_path(vehicle) %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @vehicles %>

<% end %>