<p>
	<%= t(:welcome_to_admin_section) %>
</p>
<div class ="admin_links"><br /><br />
	<p>
		<b><%= t(:Manage) %>: </b>
	</p><br />
	<p>
		<%= link_to t(:Categories), admin_categories_path if current_user.has_permission?('category') %>
	</p>
	<p>
		<%= link_to t(:Makes), admin_make_index_path if current_user.has_permission?('vehicle_make') %>
	</p>
	<p>
		<%= link_to t(:Models), admin_models_path if current_user.has_permission?('vehicle_model') %>
	</p>
	<p>
		<%= link_to t(:Representatives), admin_representatives_path if current_user.is_admin? %>
	</p>
	<p>
		<%= link_to t(:Dealers), admin_dealers_path if current_user.has_permission?('create_dealer') %>
	</p>
	<p>
		<%= link_to t(:Vehicles), admin_vehicles_path if current_user.has_permission?('view_vehicle_list') %>
	</p>
	<p>
		<%= link_to t(:Private_Vehicles), admin_private_vehicles_path if current_user.is_admin? %>
	</p>
	<p>
		<%= link_to t(:Add_link), new_admin_link_path if current_user.has_permission?('add_link') %>
	</p>
	<p>
		<%= link_to t(:Add_listing), add_listing_admin_links_path if current_user.has_permission?('add_listing') %>
	</p>
	<p>
		<%= link_to t(:Manage_ad), admin_ads_path if current_user.has_permission?('manage_ad') %>
	</p>
	<p>
		<%= link_to t(:Manage_Coupons), admin_coupons_path %>
	</p>
	

</div>
