<%= link_to image_tag("CarProof_Logo_English.png"), "http://www.carproof.com/direct.asp?tid=583" %>

<br /><br />
<h2><%= t(:carproof_heading1) %></h2>
<br />
<div>
	<%= t(:carproof_point1) %>
</div>
<br />
<h2><%= t(:carproof_heading2) %></h2>
<br />
<div>
	<%= t(:carproof_point2) %>
</div>
<br />
<h2><%= t(:carproof_heading3) %></h2>
<br />
<div>
	<%= t(:carproof_point3) %>
</div>
<br />
<h2><%= t(:carproof_heading4) %></h2>
<br />
<div>
	<%= t(:carproof_point4_1) %><br />
	<%= link_to "https://www.carproof.com/content/products/verified_samples.asp", "https://www.carproof.com/content/products/verified_samples.asp", :popup => true %><br />
	<%= t(:carproof_point4_2) %><br />
	<%= link_to "https://www.carproof.com/content/products/icbc_samples.asp", "https://www.carproof.com/content/products/icbc_samples.asp", :popup => true %><br />
	<%= t(:carproof_point4_3) %><br />
	<%= link_to "https://www.carproof.com/content/products/claims_samples.asp", "https://www.carproof.com/content/products/claims_samples.asp", :popup => true %><br />
	<%= t(:carproof_point4_4) %><br />
	<%= link_to "https://www.carproof.com/content/products/lien_samples.asp", "https://www.carproof.com/content/products/lien_samples.asp", :popup => true %><br />
</div>

<br />
<%= button_to t(:Order_CarProof_Report), "http://www.carproof.com/direct.asp?tid=583", :method => :get %>