<!-- <h1>
  <%#= t(:Used_Cars) %>
</h1> -->
<div class="selectCar">
  <h2>
    <span class="fl">
			<% if session[:clearance_center] == true %>
				<%= t(:Clearance_center) %>
			<% else %>
				<%= t(:Used_Cars) %>
			<% end %>
		</span>
    <span class="usedcarCenter"><%= t(:Category) %></span>
    <span class="all">
    <a href="#" onclick="check_all_vehicle_categories();">
      <%= t(:Select_All) %>
    </a>
  </span>
  </h2>
  
  <% form_tag(select_price_vehicles_path) do %>
  <ul class="step2">
    <% for category in @category -%>
    <li>
      <div class="holder">    
        <div class="cat_image"><%= image_tag category.thumb %></div>
      </div>      
        <div class="check"><%= check_box_tag "categories[]", category.id, false, {:class => 'category_checkboxes'} %><%= category.name %></div>
    </li>
    <% end -%>
  </ul>
  <p class="button"><span></span><%= submit_tag t(:Next), :class => "submit" %></p>
  <% end %>
</div>
