<% if @coupons.blank? %>
<div class = "admin_links">
	<p>
		<%= t(:no_coupon_yet) %> 
	</p>
	<p>
		<%= t(:try_creating_one_now) %> <%=link_to t(:clicking_here), new_admin_coupon_path %>
	</p>
</div>
<% else %>
<div class="active-scaffold active-scaffold-as_admin__representative admin/representative-view default-theme" id="as_admin__representative-active-scaffold">
	<div class="active-scaffold-header">
		<%= render :partial => 'coupon_navigation' %>
		
		<h2>
			<%= t(:Coupons) %>
		</h2>
	</div>

	<div id="as_admin__dealer-content">
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th title="">
						<a>
							<%= t(:Name) %>
						</a>
					</th>
					<th title="">
						<a>
							<%= t(:Filename) %>
						</a>
					</th>
					<th title="">
						<a>
							<%= t(:Status) %>
						</a>
					</th>
					<th title="">
						<a>
							<%= t(:Dealership_or_Listing) %>
						</a>
					</th>
					<th class="actions">
					</th>
				</tr>
			</thead>
			<tbody id="as_admin__representative-tbody" class="records">
				<% for coupon in @coupons %>
				<tr id="as_admin__representative-list-3-row" class="record" >
					<td class="">
						<%= coupon.name %>
					</td>
					<td>
						<%= coupon.filename %>
					</td>
					<td>
						<%= coupon.status %>
					</td>
					<td>
						<% if coupon.attachable_type == 'Dealer' %>
							<%= coupon.attachable.dealership_name %>
						<% else %>
							<%= coupon.attachable.link.name_english %> - <%= coupon.attachable.name %>
						<% end %>
					</td>
					<td class="actions">
						<table cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="indicator-container">
										<img style="visibility: hidden;" src="/images/active_scaffold/default/indicator.gif?1250079352" id="as_admin__representative-record-3-loading-indicator" class="loading-indicator" alt="loading indicator"/>
									</td>
									<td>
										<%= link_to t(:Edit), edit_admin_coupon_path(coupon) %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<% end %>
